<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appId</key>
	<string>ralmpractice-vfizb</string>
	<key>appUrl</key>
	<string>https://realm.mongodb.com/groups/649bf0e2debf7f03adceeb8c/apps/649bf62d279fb2317096e190</string>
	<key>baseUrl</key>
	<string>https://realm.mongodb.com</string>
	<key>clientApiBaseUrl</key>
	<string>https://realm.mongodb.com</string>
	<key>dataApiBaseUrl</key>
	<string>https://data.mongodb-api.com</string>
    <key>dataExplorerLink</key>
    <string>https://cloud.mongodb.com/links/649bf0e2debf7f03adceeb8c/explorer/AtlasCluster/database/collection/find</string>
    <key>dataSourceName</key>
    <string>mongodb-atlas</string>
</dict>
</plist>
