<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>420656586352-05kmuae9qdf1553eltdo7immj3nknrbr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420656586352-05kmuae9qdf1553eltdo7immj3nknrbr</string>
	<key>API_KEY</key>
	<string>AIzaSyBUNwmkaO4WWV9R9xqjb5pYNopPLK42Cuo</string>
	<key>GCM_SENDER_ID</key>
	<string>420656586352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seolagir.APNs</string>
	<key>PROJECT_ID</key>
	<string>apns-practice</string>
	<key>STORAGE_BUCKET</key>
	<string>apns-practice.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420656586352:ios:de43d63fd20d406f139eb5</string>
</dict>
</plist>